.text{
    text-align: center;
    font-size: 313px;
    background-image: url("image.jpg");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}